      <div class="container">
        <div class="jumbotron" style="padding:1rem 2rem;">
          <h1 style="text-align:center">Julhas Playlist Solver</h1>
        </div>
            <div class="alert alert-dark" role="alert">
              <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link active" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/account">Account</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/music">Music</a>
                    <a class="dropdown-item" routerLink="/movies">Movies</a>
                    <a class="dropdown-item" routerLink="/sports">Sports</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/addvideos">Add Videos</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" routerLink="/logout">Logout</a>
                </li>
              </ul>
            </div>

            <div class="media">
              <img src="..." class="mr-3" alt="...">
              <div class="media-body">
                <h5 class="mt-0">Account Holder Name</h5>
                <h5 class="mt-0">Account Holder Email</h5>

                <p>Total Videos : 101 </p>
                <p>Categories : Music, Sports, Movies</p>
              </div>
            </div>

            <nav class="navbar navbar-light bg-light">
                  <span class="navbar-text justify-content-end">
                    Developed By Julhas
                  </span>
                </nav>
      </div>
























